$main-color: #32a0c2;
$custom-color: #EEE;
$card-text-color: #a9a9a9;
$turky-color:#0d7696;
$egypt-color:#ccc44e; 

$btn-main-color-dark: darken($main-color, 25%);
$btn-custom-color-dark: darken($custom-color, 25%);

$btn-form-control-focus-dark: $btn-main-color-dark;




