@import './_variable.scss';
#top-menue {
    background-color: $custom-color !important;
	.bg-light {
	
		padding-bottom: 0.1rem !important;
		padding-top: 0rem !important;
	}
	.video-icon {
		color: $custom-color;
		border-radius: 15%;
		margin-right: 15px;
	}
}
.navbar {
	.navbar-nav {
		.nav-linkk {
			margin-left: 30px;
			padding-left: 20px;
		}
	}
	input.form-control:focus,
    button:focus {
	box-shadow: none !important;
}
.form-inline {
	.search-btn {
		color: $custom-color !important;
		background-color: $main-color !important;
		border: 1px solid $main-color !important;
		&:hover {
			box-shadow: $custom-color !important;
		}
	}
}

}
.navbar .navbar-nav .nav-linkk:hover,
.navbar .navbar-nav .active>.nav-linkk {
	color: $egypt-color;
	border-bottom: 1px solid $egypt-color;
}
section {
	&.aboute {
		background-image: url(../images/baceg.jpg);
		width: 100% !important;
		position: initial !important;
		padding: 130px 0 60px;

		.title {
			margin-bottom: 300px;
			h2 {
				font-size: 40px;
				line-height: 60px;
			}
		}
	}
}
section {

	&.services {
		background-color: $egypt-color;

		padding: 120px 0 60px;
		.title {
			margin-bottom: 50px;
			h2 {
				font-size: 40px;
				line-height: 60px;
			}
		}
		.card {
			margin-bottom: 50px;
			width: 100%;
			height: 250px;
			transition: all 1s ease-in-out;
			img {
				width: 140px;
				margin: 40px auto 0;
				transition: all 1s ease-in-out;
			}
			&:hover {
				height: 350px;
				transition: height 0.5s ease-in-out;
				.card-block {
					p {
						opacity: 1;
						transition: opacity 1s ease-in-out;
					}
				}
				img {
					width: 140px;
					margin: 10px auto;
				}
			}
			.card-block {
				p {
					transition: opacity 0.5s ease-in-out;
				}
			}
		}
		.card-block {
			h4 {
				font-size: 24px;
				color: #1f3d3d;
				line-height: 35px;
			}
			p {
				font-size: 15px;
				line-height: 20px;
				color: #919191;
				opacity: 0;
				transition: all 1s ease;
			}
		}
	}
}

section {
	&.sliderr {
		padding: 80px 0;
		.title {
			margin-bottom: 60px;
			h3 {
				font-size: 36px;
				margin-bottom: 20% !important;
			}
		}
		.carousel-inner {
			width: 60%;
			margin: 0 auto;
		}
		.carouselExampleIndicators {
			padding: 0;
			bottom: -60px;
		}
		.carousel-indicators {
			button {
				max-width: 20px;
				height: 20px;
				border: 1px solid $egypt-color;
				border-radius: 50%;
				padding-left: 15px;
				margin-left: 5px;
				margin-bottom: 70%;
				&.active {
					background-color: $egypt-color;
				}
			}
		}
	}
}
section.sliderr .carousel-control-next,
section.sliderr .carousel-control-prev {
	width: 70px;
	height: 70px;
	border: 1px solid $egypt-color;
	border-radius: 50%;
	color: $egypt-color;
	opacity: 1;
	margin-top: 130px;
	background-color: $egypt-color;
}
@media (max-width: 770px) {
	
	section {
		&.sliderr {
			.title {
				h3 {
					margin-bottom: 30% !important;
				}
			}
			.carousel-inner {
				width: 80%;
			}
			.carousel-indicators {
				button {
					margin-bottom: 100%;
				}
			}
		}
	}
	section.sliderr .carousel-control-next,
	  section.sliderr .carousel-control-prev {
		display: none;
	}
	
   }
   @media (max-width: 575px) {
  
	header .overlay .sliderr .carousel-control-prev i,
	header .overlay .sliderr .carousel-control-next i {
	border: none !important;
}
header {
	.overlay {
		.sliderr {
			.carousel-caption {
				h3 {
					font-size: 20px !important;
					line-height: 40px !important;
				}
			}
		}
	}
}
section {
	&.sliderr {
		.carousel-inner {
			width: 100%;
		}
	}
}

  }
  