@import './_variable.scss';
@import './mixins';


section {

	&.about1 {
		background-image: url(../images/Tyrkop.jpeg);		
		width: 100% !important;
		position: initial !important;
		padding: 130px 0 60px;

		.title {
			margin-bottom: 300px;
			h2 {
				font-size: 40px;
				line-height: 60px;
				margin-left: 5%;
			}
		}
	}
}
section {
	&.head {
		.container {
			position: relative;
			margin-top: 20%;
		}
		.text-block {
			position: initial;
			bottom: 20px;
			right: 20px;
			background-color: #3d332e;
			color: $custom-color;
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 20%;
		}
	}
}
.who-are {
	.row{
    margin-right: 0px !important;
	margin-left: 0px !important;
	}
    .custom-paragraph {
        line-height: 2em;
    }

    .company-name {
        color: $main-color;
    }
}

.custom-btn-main {
    padding: 20px;
    background-color:$main-color !important;
    color:white;
    font-weight: bold;
    width: 250px;

    &:hover {
        color : #000;
    }
}

.latest-postss {
	background-color: $turky-color;
	padding-top: 20px !important;

	    .card-body {
        width: 90%;
        border: 1px solid $custom-color;
        border-radius: 5px;
        position: relative;
        background-color: $custom-color;
        top: -17px;
        left: -5%;
    }
    .card-title{
        font-weight: bold;
        font-size: 18px;
    }
    
    .card-text {
        font-size: 14px;
    }
}

section {
	&.slider {
		padding: 80px 0;
		.title {
			margin-bottom: 60px;
			h3 {
				font-size: 36px;
				margin-bottom: 20% !important;
			}
		}
		.carousel-inner {
			width: 60%;
			margin: 0 auto;
		}
		.carouselExampleIndicators {
			padding: 0;
			bottom: -60px;
		}
		.carousel-indicators {
			button {
				max-width: 20px;
				height: 20px;
				border: 1px solid $turky-color;
				border-radius: 50%;
				padding-left: 15px;
				margin-left: 5px;
				margin-bottom: 70%;
				&.active {
					background-color: $turky-color;
				}
			}
		}
	}
}
section.slider .carousel-control-next,
section.slider .carousel-control-prev {
	width: 70px;
	height: 70px;
	border: 1px solid $turky-color;
	border-radius: 50%;
	color: $turky-color;
	opacity: 1;
	margin-top: 130px;
	background-color: $turky-color;
}
@media (max-width: 770px) {
	
	section.slider .title h3 {
	  margin-bottom: 30% !important;
	}
	section.slider .carousel-control-next,
  section.slider .carousel-control-prev{
	display: none;
  }
  section.slider .carousel-inner {
	width: 80%;
  }
  section.slider .carousel-indicators button{
	margin-bottom:100%;
  }
 
   }
   @media (max-width: 575px) {
  
	
	header .overlay .slider .carousel-control-prev i,
	header .overlay .slider .carousel-control-next i{
	  border: none !important;
	}
  
	header .overlay .slider .carousel-caption h3{
	  font-size: 20px !important;
	  line-height: 40px !important;
	}
	
	section.slider .carousel-inner {
	  width: 100%;
	}
  }
  